@model IEnumerable<BarcodeGenerator.Domain.Entities.InventoryVoucher>

@{
    ViewData["Title"] = "Inventory Voucher";
}

<div class="alert alert-dark" role="alert">
    Inventory Voucher List
</div>

<form class="row g-3" method="get" asp-controller="InventoryVoucher" asp-action="SearchInventoryVouchers">
    <div class="col-auto">
        <label for="inputVoucherNumber" class="visually-hidden">Voucher Number</label>
        <input name="voucherNumber" type="text" class="form-control" id="inputVoucherNumber" placeholder="Voucher Number" value="@ViewData["SearchVoucherNumber"]">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Part Name</th>
            <th>Voucher Number</th>
            <th>Quantity</th>
            <th>Manufacturer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int rowNumber = 1;

            foreach (var item in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@item.PartName</td>
                    <td>@item.VoucherNumber</td>
                    <td>@item.Quantity</td>
                    <td>@item.CounterpartDLCode</td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="SerialNumber" asp-action="Index" asp-route-id="@item.Id">
                            Barcode
                        </a>
                    </td>
                </tr>

                rowNumber++;
            }
        }
   </tbody>
</table>